/* FONTS */

/* https://www.urbanfonts.com/fonts/Magic:_the_Gathering.font */
@font-face {
  font-family: magic;
  src: url(../assets/fonts/Magic.ttf) format("truetype");
}

/* https://www.fontspace.com/planewalker-dings-font-f20370 */
@font-face {
  font-family: symbol;
  src: url(../assets/fonts/Symbols.ttf) format("truetype");
}

.magic {
  font-family: magic;
}

.symbol {
  font-family: symbol;
}

/* COLORS */
:root {
  --primary: rgb(17, 17, 27);
  --secondary: rgb(224, 227, 240);
  --black: rgb(30, 30, 46);
  --gray: rgb(127, 132, 156);
  --blue: rgb(137, 180, 250);
  --green: rgb(166, 227, 161);
  --yellow: rgb(249, 226, 175);
  --red: rgb(243, 139, 168);
}

body {
  /* Nav bar working */
  padding-top: 4.5rem;
  margin: 0;
}

main {
  position: absolute;
  top: 53%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--black);
}

.card-shadow {
  box-shadow: 0 0px 15px 5px rgba(255, 255, 255, 0.2);
}


.card-element {
  padding: 5px;
}